body{
    font-family: 'Century Gothic', Calibri, serif;
    font-size: 13px;
    margin: 0px;
    padding: 0px;
}
h1{
    font-size: 40px;
    font-weight: normal;
    text-align: center;
}
header{
    height: 100%;
}
footer{
    height: 80px;
    padding-top: 30px;
    text-align: center;
    background-color: #C5C5C5;
    border-top: 2px solid #AAA;
}
nav{
    width: 100%;
    background-color: #97b628;
}
nav ul{
   margin: 0px;
   padding: 0px;
} 

nav li{
    list-style-type: none;
    float: left;
}
nav a{
    display: inline-block;
    text-decoration: none;
    padding: 20px 30px;
    color: #FFF;
    text-transform: uppercase;
    font-size: 15px;
}
.table{
    display: table;
    margin: 0 auto;
}
.menu-Acc:hover{
    border-top: 5px solid #4C8;
    background-color: RGBa(64,200,130,0.15);
}
.menu-Sto:hover{
    border-top: 5px solid #f1dc4f;
    background-color: rgba(241,211,79,0.15);
}
.menu-blo:hover{
    border-top: 5px solid #0070BB;
    background-color: rgba(000,112,192,0.15);
    
}
.menu-con:hover{
    border-top: 5px solid #e44d26;
    background-color: rgba(228,77,38,0.15);
    
}
nav li:hover a{
    padding: 15px 30px 20px 30px;
}
article, aside{
display: inline-block;
vertical-align: top;
text-align: justify;
position: relative;
width: 260px;
background-color: #706b64;
box-shadow: 0px 2px 5px #1c1a19;
border-radius: 5px;
padding: 10px;
color: white;
font-size: 0.9em;

}
article{
width: 920px;
margin-right: 10px;
padding-right: 0px;
}

#banniere_image{
margin-top: 2px;
height: 100px;
border-radius: 5px;
position: relative;
/*box-shadow: 0px 4px 4px #1c1a19;*/
/*margin-bottom: 100%;*/
padding-right: 0px;
size: 1000px 500px;
}

#logo, header h1{
display: inline-block;
margin-bottom: 0px;
}

#haut{
display: inline-block;
}

#logo, header h1{
display: inline-block;
margin-bottom: 0px;
}

